
	<%include ../partials/header.ejs%>
	
    <div class="ui grid">
      <div class="row">
        <%include ../partials/sidebar.ejs%>
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">
              <h1 class="ui huge header">
                Dashboard
              </h1>
            </div>
            <div class="ui divider"></div>
            <div class="four column center aligned row">
              <div class="column">
                <!--<img class="ui centered small circular image" src="http://semantic-ui-forest.com/static/images/templates/semantic-ui/wireframe/square-image.png" />-->
                <span class="step">10</span>
                <div class="ui hidden divider"></div>
                <div class="ui large green label">
                  Jobs Posted
                </div>
                <p>
                  
                </p>
              </div>
              <div class="column">
                <span class="step">10</span>
                <div class="ui hidden divider"></div>
                <div class="ui large blue label">
                  Jobs Pending Approval
                </div>
                <p>
                  
                </p>
              </div>
              <div class="column">
                <span class="step">10</span>
                <div class="ui hidden divider"></div>
                <div class="ui large pink label">
                  Comments
                </div>
                <p>
                  
                </p>
              </div>
              <div class="column">
               <span class="step">10</span>
                <div class="ui hidden divider"></div>
                <div class="ui large red label">
                  Users
                </div>
                <p>
                  
                </p>
              </div>
            </div>
            <div class="ui hidden section divider"></div>
            <div class="row">
              <h1 class="ui huge header">Jobs Posted</h1>

              <div class="ui primary button" style="position: absolute; right: 0em" id="Insert">
                <i class="plus icon"></i> Add Job
              </div>
            </div>
            
            
            
            <div class="ui divider"></div>
            <div class="row">
              
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th id="actions">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <% jobs.forEach(function(job){ %>
                  <tr>
                    <td><%= job.company %></td>
                    <td><%= job.title %></td>
                    <td><%= job.location %></td>
                    <td><%= job.date.toDateString() %></td>
                    <td id="actions">
                      <div class="ui right pointing dropdown">
                        <i class="ellipsis vertical link icon"></i>
                        <div class="menu">
                          <div class="item" id="Update"><a href="/admin/job/<%= job._id %>/edit">Update</a></div>
                          <div class="item" id="Delete"><a href="/admin/job/<%= job._id %>/delete">Delete</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>

// Add a new job form

<div class="ui modal InsertModal">
  <i class="close icon"></i>
  <div class="header">Add New Job</div>
  <form class="ui form blue segment" action="/admin/addJob" method="post" encType="multipart/form-data">
                  <br>
                    <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label><h3 style="text-align: left;">Company Name</h3></label>
                        <input type="text" name="company" placeholder="Facebook" required>
                      </div>
                      <div class="field">
                        <label><h3 style="text-align: left;">Job Title</h3></label>
                        <input type="text" name="title" placeholder="Full Stack Developer" required>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label><h3 style="text-align: left;">Job Location</h3></label>
                        <input type="text" name="location" placeholder="Silicon valley" required>
                      </div>
                      
                      <div class="field">
                        <label><h3 style="text-align: left;">Experience Required</h3></label>
                        <input type="text" name="experience" placeholder="1 Year" required>
                      </div>
                    </div>
                  </div>
                  
                  <br>
                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label><h3 style="text-align: left;">Skills</h3></label>
                        <input type="text" name="skills" placeholder="HTML, CSS, Java" required>
                      </div>
                      <div class="field">
                        <label><h3 style="text-align: left;">Qualification</h3></label>
                        <input type="text" name="qualification" placeholder="e.g. Masters in CS" required>
                      </div>
                    </div>
                  </div>
                  
                  <br>
                  
                    <div class="field">
                      <label><h3 style="text-align: left;">Company Info</h3></label>
                      <textarea name="companyInfo"></textarea>
                    </div>

                    <div class="field">
                      <label><h3 style="text-align: left;">Job Description</h3></label>
                      <textarea name="desc"></textarea>
                    </div>
                  
                   <br>
                   <div class="field">
                    <label><h3 style="text-align: left;">Salary Range</h3></label>
                    <div class="two fields">
                      <div class="field">
                        
                        <input type="number" name="min_sal" placeholder="Min">
                      </div>
                      <div class="field">
                        
                        <input type="number" name="max_sal" placeholder="Max">
                      </div>
                    </div>
                  </div>
                  <br>

                    <div class="field">
                      <label><h3 style="text-align: left;">Upload Image</h3></label>
                      <input type="file" name="image" required>
                    </div>

                  <br>
                  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui blue right labeled icon button" type="submit">
      Update
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>
</div>


<div class="ui modal DeleteModal">
  <i class="close icon"></i>
  <div class="header">
    Delete Job
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">This action is permanent</div>
      <p>Once this job has been deleted, it cannot be restored without creating a new job.</p>
      <p>Are you sure you want to continue?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui blue right labeled icon button">
      Delete
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

    <style type="text/css">

    </style>


  </body>
  <footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>

<script type="text/javascript">

      $('.ui.dropdown').dropdown();

      $("#Update").click(function(){
        $(".EditModal").modal('show');
      });
  
      $(".InsertModal").modal({
        closable: true
      });

      $("#Insert").click(function(){
        $(".InsertModal").modal('show');
      });
  
      $(".InsertModal").modal({
        closable: true
      });
      
      $("#Delete").click(function(){
        $(".DeleteModal").modal('show');
      });

      $(".DeleteModal").modal({
        closable: true
       });
</script>


  </footer>
</html>