<!DOCTYPE html>
<html>
<head>
  <title></title>

    <title>Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI.</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://semantic-ui-forest.com/static/stylesheets/default.css" rel="stylesheet" type="text/css" />
    <script src="http://semantic-ui-forest.com/static/dist/jquery/jquery.min.js"></script>
</head>
<body>

  <%include ../partials/header.ejs%>
  
    <div class="ui grid">
      <div class="row">
         <%include ../partials/sidebar.ejs%>
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">
              <h1 class="ui huge header">
                Dashboard
              </h1>
            </div>
            <div class="ui divider"></div>
            
            <div class="ui hidden section divider"></div>
            <div class="row">
              <h1 class="ui huge header">Jobs Posted</h1>

              <div class="ui primary button" style="position: absolute; right: 0em" id="Insert">
                <i class="plus icon"></i> Add Job
              </div>
            </div>
            
            
            
            <div class="ui divider"></div>
            <div class="row">
              
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th id="actions">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <% jobs.forEach(function(job){ %>
                  <tr>
                    <td><%= job.company %></td>
                    <td><%= job.title %></td>
                    <td><%= job.location %></td>
                    <td><%= job.date.toDateString() %></td>
                    <td id="actions">
                      <div class="ui right pointing dropdown">
                        <i class="ellipsis vertical link icon"></i>
                        <div class="menu">
                          <div class="item" id="Update"><a href="/admin/job/<%= job._id %>/edit">View</a></div>
                          <div class="item" id="Update"><a href="/admin/job/<%= job._id %>/edit">Edit</a></div>
                          <div class="item" id="Delete"><a href="/admin/job/<%= job._id %>/delete">Approve</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>

// Add a new job form

    <style type="text/css">

    </style>


  </body>
  <footer>
  <link rel="stylesheet" type="text/css" href="css/admin.css">
  <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>

<script type="text/javascript">

      $('.ui.dropdown').dropdown();

</script>


  </footer>
</html>
</body>
</html>