
<!DOCTYPE html>
<html>
  <head>
    <title>JobPortal</title>
    <link href="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.default.min.css" rel="stylesheet" type="text/css" />
    
    
  </head>
  <body class="template">
    
    <!--Page Contents-->
      
       
          <%include ./partials/pageHeader.ejs%> 
       <div style="background-color: #F1F1F1; padding: 2em">
          <div class="center aligned ui header"><h1><%= job.title %></h1></div>   
        </div>
        <div class="ui horizontal divider"><span style="font-size: 0.8em"><a href="/">Home</a> > <a href="/search">Jobs</a></span></div>

      <br>
      
     
        <div class="center aligned stackable grid ui container">
          <div class="five wide column">
            <div class="Filters">
            <div style="padding: 0; height:17em" class="ui container">
              <img style="width: 90%; height: 130%" src="<%= job.image %>">
              
            </div>
            <br>
            <br>
            <br>
            <br>
            <div style="border-style: none; background-color: #F1F1F1" class="ui segment">
              <div class="left aligned ui header"><i class="marker icon"></i>Location</div>
              <div class="left aligned ui text container"><%= job.location %></div>
              <div class="ui horizontal divider">|</div>
              
              <div class="left aligned ui header"><i class="money bill icon"></i>Salary</div>
              <div class="left aligned ui text container"><%= job.min_sal %> - <%= job.max_sal %></div>
              <div class="ui horizontal divider">|</div>
              
              <div class="left aligned ui header"><i class="briefcase icon"></i>Experience</div>
              <div class="left aligned ui text container"><%= job.experience %></div>
              <div class="ui horizontal divider">|</div>
              
              <div class="left aligned ui header"><i class="file alternate icon"></i>Qualification</div>
              <div class="left aligned ui text container"><%= job.qualification %></div>
              <div class="ui horizontal divider">|</div>
              
              <div class="left aligned ui header"><i class="clock icon"></i>Submitted On</div>
              <div class="left aligned ui text container"><%= job.date.toDateString() %></div>
              <div class="ui horizontal divider"></div>
            </div>
            <br>
            <!--<div style="padding: 0; height:24em" class="ui segment">-->
            <!--  <label class="ui header">Advertisement</label>-->
            <!--  <img style="width: 100%; height: 100%" src="resources/images/Capture.jpg">-->
            <!--</div>-->
          </div>
        </div>
          <div class="eleven wide column">
            <div class="left aligned ui container">

               <div class="ui header"><h2><%= job.company %></h2></div>
               <div style="font-size: 1.2em; color: grey">
                <br>
                 <p><%= job.companyInfo %></p><br>
                 
                 <div class="ui header">Job Description</div>
                 <div class="ui divider"></div>
                 <p><%= job.desc %></p>

                <div class="ui header">Skills</div>
                <div class="ui tag labels">
                  <% job.skills.split(",").forEach(function(skill){ %>
                  <a class="ui label"><%= skill %></a>
                  <% }) %>
                </div>
               </div>
               
               <br><br>
               <div style="background-color: #F1F1F1" class="blue ui segment">
               <form class="ui form">
                  <h3 class="ui dividing header">Apply For Job</h3>
                  <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                      <div class="field">
                        <input type="text" name="[first-name]" placeholder="First Name">
                      </div>
                      <div class="field">
                        <input type="text" name="[last-name]" placeholder="Last Name">
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="two fields">
                      <div class="field">
                        <label>Email</label>
                        <input type="Email" name="[email]" placeholder="E.g. JonDoe@email.com">
                      </div>
                      <div class="field">
                        <label>Add your CV</label>
                        <input type="file" name="[CV]" placeholder="Choose a file">
                      </div>
                    </div>
                  </div>
                  
                  
                  <h4 class="ui dividing header">Additional Information</h4>
                    <div class="field">
                      <textarea></textarea>
                    </div>
                  
                   
                    <div class="field">
                      <div class="ui toggle checkbox">
                        <input type="checkbox" name="gift" tabindex="1">
                        <label>Notify me on updates</label>
                      </div>
                    </div>
                  
                  <div class="huge blue ui button" tabindex="0">Apply Now</div>
                </form>
              </div>
              </div>
            </div>
          </div>
      <br>
      <br>      
    
      <%include ./partials/footer.ejs%> 
    </div>
    <script src="http://semantic-ui-forest.com/static/dist/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </body>
  <footer>
    
  </footer>
</html>